<template name="ipadsList">
    <div class="page-header">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">{{> ipadSubmit}}</div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div >
                    {{#if isInRole 'admin'}}
                    <a class="btn btn-default" href="{{pathFor 'admin'}}">Manage Users</a> {{/if}}
                    <a class="btn btn-default" href="{{pathFor 'submissions'}}">My Submissions</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group">
        {{#each ipads}} {{> ipadItem}} {{/each}}
    </ul>
</template>