<template name="ipadItem">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-6">{{name}} {{location}}</div>
            <div class="col-md-3 col-md-offset-3 col-sm-4 col-xs-6">{{#if ownIpad}}
                <div style="float:right;">
                    <a class="edit btn btn-default" href="{{pathFor 'ipadEdit'}}">Edit</a>
                    <a class="delete btn btn-default" href="#">Delete</a>
                </div>
                {{/if}}
            </div>
        </div>
    </li>
</template>